body {
    margin: 0;
    padding: 0;
    background: #222;
    /* Disable text-selection */
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* disable touch panning/zooming */
    -ms-touch-action: none;
    touch-action: none;
}
canvas {
    position: absolute;
    display: block;
    width: 800px;
    height: 600px;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;

    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}